.driver-card {
  background: var(--card-background-gradient);
  border-radius: 10px;
  margin: 0;
  width: 30%;
  text-align: left;
}

.driver-card-bg-image {
  padding: 0 ;
  margin-top: 20px;
  border-radius: 20px;
}

.driver-card-link {
  color: #eee;
  text-decoration: none;
  width: 100%;
}

.driver-card h2 {
  margin: 0;
}

.card-top-info {
  font-family: var(--racing-font);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 180px;
}

.driver-number {
  font-size: 40px;
  font-weight: 900;
  line-height: .9;
}

.driver-code {
  font-size: 35px;
  font-style: italic;
  font-weight: 100;
  display: flex;
  align-items: center;
}

.no-driver-image {
  width: 60%;
  color: #eee;
  font-family: var(--racing-font);
  font-size: 20px;
  height: 180px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.driver-wiki-link {
  text-decoration: none;
}

.driver-lower-info {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #222 70%);
  padding: 30px 20px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.driver-name {
  padding: 5px 0;
  font-style: italic;
  font-weight: 300;
  border-radius: 5px;
  color: #ddd;
}

.driver-last-name {
  font-weight: 700;
  color: #eee;
}

.driver-card-bottom-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.driver-points {
  text-align: right;
  font-size: 15px;
  font-weight: 900;
}

/* ----------------TEAM SPECIFIC--------------------------------- */

.driver-card-team {
  padding: 15px;
  box-sizing: border-box;
  width: 48%;
  margin: auto;
}

.card-top-info-team {
  margin-bottom: unset;
}

.team-image-container {
  display: flex;
  align-items: center;
  height: 200px;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

.team-image {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin: 0 auto;
}

.team-name {
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.team-nationality {
  text-align: center;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 1px;
}

.team-card-last-row {
  display: flex;
  justify-content: space-between;
}

.team-points,
.team-position {
  font-size: 20px;
}