.Header {
  background-color: var(--header-black);
  position: static;
  width: 100%;
  /* height: 60px; */
  top: 0;
}

.top-header {
  background-color: #00dee2;
  height: 40px;
}

.app-title {
  color: var(--f1-red);
  margin: auto;
  text-decoration: unset;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}

.app-title b {
  color: #111;
  font-weight: 800;
}

.link-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header-link {
  color: #eee;
  text-decoration: none;
  padding: 10px 15px;
}

.header-link:hover {
  color: #ccc;
}