.Home {
  min-height: 100vh;
}

.home-header {
  font-style: italic;
  
}

.home-section-container {
  max-width: 1200px;
  width: var(--element-width);
  margin: 10px auto;
}

.top-3-container {
  display: flex;
  justify-content: space-between;
}

.home-form-container {
  background: linear-gradient(166deg, rgba(248,155,95,1) 0%, #e20500 100%);
  padding: 10px;
  border-radius: 10px;
}

.home-form {
  background-color: #fff;
  border-radius: 4px;
}

.seasons-form-text {
  margin: 0;
}

.seasons-dropdown,
.form-submit-button {
  height: 35px;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
}

.seasons-dropdown {
  background-color: #ddd;
  width: 150px;
  margin: 20px;
}

.form-submit-button {
  margin: 0 5px;
}

.form-submit-button:hover {
  background-color: #ccc;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}