.Home {
  min-height: 100vh;
}

.home-header {
  font-style: italic;
  
}

.home-section-container {
  max-width: 1200px;
  width: var(--element-width);
  margin: 10px auto;
}

.top-3-container {
  display: flex;
  justify-content: space-between;
}

.home-form-container {
  background: linear-gradient(166deg, rgba(248,155,95,1) 0%, #e20500 100%);
  padding: 10px;
  border-radius: 10px;
}

.home-form {
  background-color: #fff;
  border-radius: 4px;
}

.seasons-form-text {
  margin: 0;
}

.seasons-dropdown,
.form-submit-button {
  height: 35px;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
}

.seasons-dropdown {
  background-color: #ddd;
  width: 150px;
  margin: 20px;
}

.form-submit-button {
  margin: 0 5px;
}

.form-submit-button:hover {
  background-color: #ccc;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.article-card {
  background-color: #eee;
  display: block;
  max-width: 32%;
  margin-bottom: 25px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.article-image-container {
  border-radius: 8px 8px 0 0;
  display: block;
  height: 300px;
  overflow: hidden;
}

.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  padding-bottom: 10px;
  transition: all .6s ease;
}

.article-card:hover .article-image {
  transform: scale(1.05);
}

.article-title {
  color: var(--header-black);
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  font-weight: 700;
  height: 42px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-source {
  padding: 0;
  text-align: left;
  margin: 0 0 0 10px;
  font-size: 15px;
  height: 13px;
  color: var(--f1-red);
}

.article-description {
  color: #666;
  margin: 10px;
  line-height: 1.2;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}