
.article-card {
  background-color: #eee;
  display: block;
  max-width: 32%;
  margin-bottom: 25px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.article-image-container {
  border-radius: 8px 8px 0 0;
  display: block;
  height: 300px;
  overflow: hidden;
}

.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  padding-bottom: 10px;
  transition: all .6s ease;
}

.article-card:hover .article-image {
  transform: scale(1.05);
}

.article-title {
  color: var(--header-black);
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  text-align: left;
  font-weight: 700;
  height: 42px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-source {
  padding: 0;
  text-align: left;
  margin: 0 0 0 10px;
  font-size: 15px;
  height: 13px;
  color: var(--f1-red);
}

.article-description {
  color: #666;
  margin: 10px;
  line-height: 1.2;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}