.team-info-content,
.lower-content-container {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
}

.team-stats-card {
  height: 480px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 0;
}

.team-stats-badge {
  height: 100%;
  padding: 2%;
  box-sizing: border-box;
}

.team-stats-info {
  padding: 20px;
  width: 100%;
}

.team-stats-top-line {
  display: flex;
  border-bottom: 2px solid;
  justify-content: space-between;
}

.team-stats-name {
  margin: auto 20px;
  font-size: 45px;
  font-style: italic;
}

.team-stats-flag {
  height: 40px;
}

.team-stats-nationality {
  margin: 0 0 10px 0;
}

.team-stats-position {
  margin: auto 20px;
}

.team-stats-driver-card-container {
  width: 100%;
  height: 275px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.car-image-container {
  width: 100%;
  height: 150px;
}

.team-lower-content {
  background-color: #ddd;
  margin: 20px 0;
  position: relative;
  z-index: -1;
  top: -150px;
  width: 100vw;
  padding: 20px;
  padding-top: 130px;
  box-sizing: border-box;
}

.team-description {
  background: var(--card-background-gradient-horizontal);
  text-align: left;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 auto;
  padding: 20px 40px;
  color: #ccc;
  border-radius: 20px;
}