:root {
  --f1-red: #e20500;
  --header-black: #161619;
  --racing-font: "Racing Sans One", sans-serif;
  --element-width: 80%;
  --card-background-gradient: linear-gradient(#444, #222);
  --card-background-gradient-hover: linear-gradient(#454545, #151515);
  --card-background-gradient-horizontal: linear-gradient(270deg, #444, #222);

  /* team accent colors */
  --Mercedes: #27F4D2;
  --Red-Bull: #3671C6;
  --Ferrari: #E8002D;
  --McLaren: #FF8000;
  --Alpine-F1-Team: #FF87BC;
  --RB-F1-Team: #6692FF;
  --Aston-Martin: #229971;
  --Williams: #64C4FF;
  --Sauber: #52E252;
  --Haas-F1-Team: #B6BABD;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
